{% extends 'base.html' %}
{% block content %}

<div class="card">
  <div class="card-header">
    <strong>{{ customer_record.first_name }} {{ customer_record.last_name }}</strong>
  </div>
  <div class="card-body">

    <p class="card-text">
      <strong>Email: </strong>{{ customer_record.email }}
    </p>

    <p class="card-text">
      <strong>Celular: </strong>{{ customer_record.phone }}
    </p>

    <p class="card-text">
      <strong>Dirección: </strong>{{ customer_record.address }}
    </p>

    <p class="card-text">
      <strong>Ciudad: </strong>{{ customer_record.city }}
    </p>

    <p class="card-text">
      <strong>País: </strong>{{ customer_record.coutry }}
    </p>

    <p class="card-text">
      <strong>Fecha de registro: </strong>{{ customer_record.created_at }}
    </p>

    <p class="card-text">
      <strong>ID: </strong>{{ customer_record.id }}
    </p>

  </div>
</div>

<br><br>
<a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>

<a href="{% url 'delete_customer_record' customer_record.id %}" class="btn btn-danger">Borrar datos del cliente</a>
<a href="{% url 'update_customer' customer_record.id %}" class="btn btn-secondary">Actualizar datos del cliente</a>


{% endblock %}
